.button-link {
  width: 100px;
  padding: 8px;
  border: none;
  background-color: #27ae60;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.button-link:focus,
.button-link:hover {
  color: #fff;
}